#footer-layout{
    color: rgb(22, 18, 18);
    a{
        color:rgb(22, 18, 18);
        list-style: none;
        text-decoration:none;
    }

    background-image: linear-gradient(to right, #e1e7eb , #515557 );
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    .footer-nav{
        ul{
            color: rgb(22, 18, 18);;
            list-style: none;
            list-style-type: none;
            text-decoration: none;
        }
    }
}